header {
    padding: 20px;
    background-color: #84bfc3;
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
}

header div img {
    width: 50px;
}

header h1 {
    color: black;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}