*{
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    background-color: rgb(103, 171, 231);
    padding: 15px;
    align-items: center;

}

header img {
    width: 150px;
    height: auto;

}

header button {
    width: 150px;
    padding: 3px;
    border: none;
    background-color: rgb(8, 11, 14);
    color: white;

}

header button:hover {
    background-color: rgb(120, 123, 126);
    transition: 0,8s;
    cursor: pointer;
    border-radius: 5px;
}
.section-01 {
    background: linear-gradient(354deg, rgba(3, 106, 223, 0.486) 0%, rgba(11, 29, 194, 0.397) 35%, rgba(3, 11, 88, 0.493) 100%),
    url(imagem/roupa-homem-casual.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: center;


    padding: 250px;

 }